*{
    font-family: 'Inter', sans-serif;
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: normal;
    border:none
}
#nav-container{
    max-width: 100%;
    background-color: rgba(1, 33, 105, 0.08);
}

.logo{
    width: 92px;
    margin-left: 18px;
    margin-right: -5px;
}

#navbar{
  margin-right: 10px;
}


#navbar li{
    padding: 7px;
}


#navbarletra{
    color: #012169;
}

#navbarletra:hover{
    color: #3872f5;
}

#criarconta:hover{
    color: #3872f5;
}

#criarconta{
    font-weight: 600;
    line-height: 19px;
    text-decoration: none;
    color: #012169;
    margin-right: 15px;
}

#entrar{
    color: #FFFFFF;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    background: #012169;
    border-radius: 8px;
    margin-right: 25px;
    width: 115px;
    height: 49px;
    font-size: 18px;
}

#entrar:hover{
    color: #012169;
    background-color: rgba(1, 33, 105, 0.08);
}

.main{
    background: #FFFFFF;
}

h2{
    font-style: italic;
    font-weight: 400;
    font-size: 35px;
    line-height: 61px;
    color: #0070BA;
}

.titulo{
    margin-top: 25px;
    text-align: center;
}


#cartao{
    width: 210px;
    height: 220px;
    margin-top: 25px;
    background: #fff;
    border-radius: 45.9271px;
    margin-left: 110px;
    text-align: center;
}


#imagem{
    border-radius: 30.6181px;
    width: 160px;
    height: 160px;
    margin-top: 16px;
}


#nome{
    color: #012169;
    font-size: 17px;
  }



.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }