@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: normal;
    border: none
}

.container {
    max-width: 100%;
    background-color: rgba(1, 33, 105, 0.08);
}

.logo {
    width: 92px;
    margin-left: 18px;
    margin-right: -9px;
}

#navbar {
    margin-right: 2px;
}


#navbar li {
    padding: 9px;
}


#navbarletra {
    color: #012169;
}

#navbarletra:hover {
    color: #3872f5;
}

#criarconta:hover {
    color: #3872f5;
}

#criarconta {
    font-weight: 600;
    line-height: 19px;
    text-decoration: none;
    color: #012169;
    margin-right: 15px;
}

#entrar {
    color: #FFFFFF;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    background: #012169;
    border-radius: 8px;
    width: 115px;
    height: 49px;
    font-size: 18px;
    margin-right: 5px;
}

#entrar:hover {
    color: #012169;
    background-color: rgba(1, 33, 105, 0.08);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.conteudo {
    display: flex;
}

.buttons button {
    background: #0070ba;
    width: 250px;
    height: 45px;
    border-radius: 17px;
}

.buttons button a {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 13em;
}
.imagem img{
    margin-left: 5em;
    margin-top: 10em;
}

footer{
    overflow: hidden;
    border-top: solid 1px #000;
    background-color: #01216914;
  }
  
  .footer--topicos{
    color: #0070BA;
  }
  
  .footer--topicos a{
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    font-size: 0.8em;
    text-decoration: none;
    color: #0070BA
  }
  
  .footer--topicos a:hover{
    color: #0070ba;
    text-decoration: underline;
  }
  
  .footer--topicos h5{
    font-size: 1em;
  }
  
  .btn .btn-primary{
    background: #2b60de;
  }
  .btn h5,p {
    color: #0070BA
  }
  
  .footer--topicos--copy p{
    text-align: center;
    margin-top: 1em;
  }
  
  .footer--topicos--copy{
    margin-top: 1em;
  }










































